.action {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.data {
	width: 100%;
}

dt {
	color: var(--primary);
}

footer div {
	display: flex;
	flex-flow: column nowrap;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
